.ButtonRow {
    width: 100%;
}

.ButtonRow input {
    width: 80px;
    height: 80px;
    font-family: 'Courier New', Courier, monospace;
    cursor:pointer;
    font-size: 2em;
    background: #ddd;
    font-family: Roboto, sans-serif;
}

.ButtonRow input:focus {
    outline:none;
}

.ButtonRow input:nth-last-of-type(1) {
    background: orange;
    color:white;
}

.ButtonRow .SpecialButton {
    width: 50%;
    height: 80px;
}